@import "tailwindcss";

/* .custom-dropdown {
  background-color: #540C0C;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid white;
}

.custom-dropdown option {
  background-color: #540C0C;
  padding: 0.75rem;
}

.custom-dropdown option:hover {
  background-color: #6b1b1b;
}

.custom-dropdown:focus {
  outline: none;
  border-color: white;
} */